extends ./layout.pug

block contenido
	div(class="menu")
		ul(class="nav nav-tabs justify-content-center")
			li(class="nav-item")
				a(class="nav-link" href="/consultarDocentes") Docentes
			li(class="nav-item")
				a(class="nav-link" href="/consultarEstudiantes") Estudiantes
			li(class="nav-item")
				a(class="nav-link" href="/mostrarResultados") Mostrar resultados
			li(class="nav-item")
				a(class="nav-link" href="/determinarGanadores") Ganadores
			li(class="nav-item")
				a(class="nav-link" href="/") Cerrar sesión	
	div(class='container')
		div(class='col-sm-12')
			h1 Listado de Estudiantes

