extends ./layout.pug

block contenido
	div(class="container")
		h3 Bienvenido(a)
		p
			span(class="bienvenidoEstudiante")= estudiante
		h3 Pasos
		p 1 - El cuestionario consta de 20 preguntas
		p 2 - Cada pregunta consta de 3 posibles respuestas
		p 3 - Debes seleccionar una posible respuesta por cada pregunta
		p 4 - Al finalizar las 20 preguntas dar clic en el botón "Enviar cuestionario"
		p 5 - Al finalizar el cuestionario verás el resumen de las respuestas que marcaste
		p 6 - Y dirá el puntaje obtenido
		p Dar clic en el siguiente enlace
		p
			a(href="estudiante") Cuestionario
