header {
	background: #2658A3;
	padding: 10px;
}

body {
	margin-bottom: 100px;
}

footer {
	background: #2658A3;
	height: 50px;
}

footer p {
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 14px;
	text-align: center;
}

h2 {
	color: white;
	text-align: center;
}

h4 {
	color: #B53836;
	text-align: center;
}


/**/
.formLogin {
	background: #F4F5F5;
	padding-top: 15px;
	padding-bottom: 45px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.d-block {
	height: 380px;
}

/* Div de mensajes en el carrusel*/
.carousel-caption {
	background: gray;
}

.franja_amarilla_header {
	background: #F6D311;
	height: 20px;
}

#imagen_escudo {
	width: 80px;
	height: auto;
}

.btnRespuestaCorrecta1, .btnRespuestaCorrecta2 {
	margin-right: 3px;
}

.botones_respuesta {
	padding-left: 10px;
	padding-right: 40px;
}

.nombreEstudiante {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.pregunta {
	font-weight: bold;
}

.respuesta {
	margin-left: 20px;
}

.centrar {
	text-align: center;
}

.bienvenidoEstudiante {
	font-size: 20px;
	font-weight: bold;
	color: #E68A06;
}

.tiempoPrueba {
	font-size: 20px;
	font-weight: bold;
	color: #654BC7;
}

/* Imagen de pagina 'Consultar estudiantes' */
.imagenEstudiante {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.imagenEstudiante:hover {
	width: 100px;
	height: 100px;
}


/* vista para dispositivos móviles tipo celular (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {
	body {
		background: black;
	}

	#imagen_escudo {
		display: none;
	}
}
